* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding: 0px 165px;
  max-width: 1440px;
}

header {
  position: relative;
  width: 1440px;
  height: 336px;
  margin: auto;
  background-color: #000000;
}

.nav-bar {
  position: absolute;
  width: 1109.83px;
  height: 28px;
  left: 165px;
  top: 32px;
}
.nav-bar .audiophile-logo-container {
  position: absolute;
  width: 143px;
  height: 25px;
  left: 0px;
  top: 3px;
}
.nav-bar .navigation {
  position: absolute;
  width: 429px;
  left: 340px;
}
.nav-bar .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navigation ul li {
  list-style: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.nav-bar .navigation ul a {
  color: #FAFAFA;
  text-decoration: none;
}
.nav-bar .navigation ul a:hover {
  color: #D87D4A;
}
.nav-bar .cart-container {
  position: absolute;
  width: 23.33px;
  height: 20px;
  left: 1086.5px;
  top: 0px;
  cursor: pointer;
}
.nav-bar .bubbleProducts {
  position: absolute;
  width: 23.33px;
  height: 20px;
  left: 1115px;
  top: -12px;
  color: #F1F1F1;
  border-radius: 50%;
  text-align: center;
}

.line-navigation {
  position: absolute;
  width: 1110px;
  height: 1px;
  left: 165px;
  top: 96px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.line {
  position: absolute;
  background-color: #D87D4A;
  width: 101px;
  height: 4px;
  bottom: 361px;
}

.audiophileFooterBox {
  position: absolute;
  width: 1110px;
  height: 25px;
  top: 75px;
  display: flex;
  justify-content: space-between;
}
.audiophileFooterBox .logo {
  width: 143px;
  height: 25px;
}
.audiophileFooterBox ul {
  display: flex;
  justify-content: space-between;
  width: 427px;
  height: 25px;
}
.audiophileFooterBox ul li {
  list-style: none;
  list-style: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.audiophileFooterBox ul a {
  color: #FAFAFA;
  text-decoration: none;
}
.audiophileFooterBox ul a:hover {
  color: #D87D4A;
}

.textFooter {
  position: absolute;
  width: 540px;
  height: 100px;
  top: 136px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.copyright {
  position: absolute;
  width: 540px;
  height: 25px;
  top: 292px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.facebookLogo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 205px;
  left: 1171px;
  cursor: pointer;
}
.facebookLogo:hover {
  background: #D87D4A;
}

.twiterLogo {
  position: absolute;
  width: 24px;
  height: 19.5px;
  top: 207.25px;
  left: 1211px;
  cursor: pointer;
}
.twiterLogo:hover {
  background: #D87D4A;
}

.instagramLogo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 205px;
  left: 1251px;
  cursor: pointer;
}
.instagramLogo:hover {
  background-color: #D87D4A;
}

footer {
  position: relative;
  width: 1440px;
  height: 365px;
  margin: auto;
  background: #101010;
}

header {
  height: 97px;
}
header .headerSectionDetails {
  height: 100%;
  width: 100%;
  margin: auto;
}

main {
  position: relative;
  width: 1440px;
  height: 1409px;
  margin: auto;
  background-color: #F2F2F2;
}
main .checkoutMainSection {
  height: 100%;
  width: 100%;
  margin: auto;
}

.linkBack {
  position: absolute;
  width: 57px;
  height: 25px;
  top: 79px;
  left: 165px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #000000;
}

.linkBack:hover {
  color: #D87D4A;
}

.checkoutAndSummaryBox {
  position: absolute;
  width: 1110px;
  height: 1126px;
  top: 142px;
}
.checkoutAndSummaryBox .checkoutBox {
  position: absolute;
  width: 730px;
  height: 1126px;
  padding: 54px 48px 48px 48px;
  background-color: #FFFFFF;
}
.checkoutAndSummaryBox .checkoutBox h1 {
  position: absolute;
  width: 360px;
  height: 36px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .firstP {
  position: absolute;
  height: 25px;
  top: 131px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .nameForm {
  position: absolute;
  width: 309px;
  height: 81px;
  top: 172px;
}
.checkoutAndSummaryBox .checkoutBox .nameForm label {
  position: absolute;
  width: 33px;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .nameForm input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  padding: 24px;
  color: #000000;
  cursor: pointer;
  caret-color: #D87D4A;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .nameForm input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .emailForm {
  position: absolute;
  width: 309px;
  height: 81px;
  top: 172px;
  right: 48px;
}
.checkoutAndSummaryBox .checkoutBox .emailForm label {
  position: absolute;
  width: 80px;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .emailForm input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .emailForm input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .numberForm {
  position: absolute;
  width: 309px;
  height: 81px;
  top: 277px;
}
.checkoutAndSummaryBox .checkoutBox .numberForm label {
  position: absolute;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .numberForm input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .numberForm input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .secondP {
  position: absolute;
  height: 25px;
  top: 411px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox {
  position: absolute;
  width: 634px;
  height: 291px;
  top: 452px;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .adressForm {
  position: absolute;
  width: 634px;
  height: 81px;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .adressForm label {
  position: absolute;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .adressForm input {
  position: absolute;
  width: 634px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .adressForm input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .zipcode {
  position: absolute;
  width: 309px;
  height: 72px;
  top: 105px;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .zipcode label {
  position: absolute;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .zipcode input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .zipcode input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .city {
  position: absolute;
  width: 309px;
  height: 81px;
  top: 105px;
  right: 0px;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .city label {
  position: absolute;
  height: 16px;
  width: 80px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .city input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .city input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .country {
  position: absolute;
  width: 309px;
  height: 18px;
  top: 210px;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .country label {
  position: absolute;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .country input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .shippingBox .country input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .thirdP {
  position: absolute;
  height: 25px;
  top: 804px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox p {
  position: absolute;
  height: 16px;
  top: 845px;
}
.checkoutAndSummaryBox .checkoutBox .payment {
  position: absolute;
  top: 845px;
  width: 309px;
  height: 128px;
  right: 48px;
}
.checkoutAndSummaryBox .checkoutBox .payment input {
  position: absolute;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox .payment input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #CFCFCF;
  border-radius: 50%;
  background-clip: content-box;
  padding: 4px;
}
.checkoutAndSummaryBox .checkoutBox .payment input[type=radio]:checked {
  background-color: #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .payment label {
  position: absolute;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  width: 309px;
  height: 56px;
  padding-top: 18px;
  padding-left: 52px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
}
.checkoutAndSummaryBox .checkoutBox .payment label:hover {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .payment #e-money {
  top: 21px;
  left: 23px;
}
.checkoutAndSummaryBox .checkoutBox .payment #e-moneyLabel {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox .payment #cash {
  top: 90px;
  left: 23px;
}
.checkoutAndSummaryBox .checkoutBox .payment #cashLabel {
  top: 72px;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox {
  position: absolute;
  width: 636px;
  height: 81px;
  top: 997px;
  padding-right: 48px;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyNumber {
  position: absolute;
  width: 309px;
  height: 18px;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyNumber label {
  position: absolute;
  height: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyNumber input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyNumber input:focus {
  border: 1px solid #D87D4A;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyPIn {
  position: absolute;
  width: 309px;
  height: 18px;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyPIn label {
  position: absolute;
  width: 72px;
  height: 16px;
  left: 325px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyPIn input {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 25px;
  left: 325px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  padding: 24px;
  caret-color: #D87D4A;
  cursor: pointer;
  outline: none;
}
.checkoutAndSummaryBox .checkoutBox #PaymentBox .emoneyPIn input:focus {
  border: 1px solid #D87D4A;
}

.summaryBox {
  position: absolute;
  width: 360px;
  height: 612px;
  right: 0px;
  background-color: #FFFFFF;
  padding: 32px 33px 32px 33px;
}
.summaryBox h1 {
  position: absolute;
  width: 99px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
}
.summaryBox .productsBox {
  position: absolute;
  height: 239px;
  width: 284px;
  top: 88px;
  display: flex;
  flex-direction: column;
}
.summaryBox .total {
  position: absolute;
  width: 284px;
  height: 25px;
  top: 360px;
}
.summaryBox .total p {
  position: absolute;
  width: 46px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.summaryBox .shipping {
  position: absolute;
  width: 284px;
  height: 25px;
  top: 393px;
}
.summaryBox .shipping p {
  position: absolute;
  width: 67px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.summaryBox .shipping .shipingPrice {
  position: absolute;
  width: 38px;
  height: 25px;
  right: 0px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}
.summaryBox .included {
  position: absolute;
  width: 284px;
  height: 25px;
  top: 426px;
}
.summaryBox .included p {
  position: absolute;
  width: 114px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.summaryBox .grandTotal {
  position: absolute;
  width: 284px;
  height: 25px;
  top: 475px;
}
.summaryBox .grandTotal p {
  position: absolute;
  width: 100px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.summaryBox button {
  position: absolute;
  width: 160px;
  height: 48px;
  background: #D87D4A;
  border: 0;
  color: #FFFFFF;
  stroke: #979797;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.summaryBox button:hover {
  background-color: #FBAF85;
  color: #FFFFFF;
}
.summaryBox button {
  position: absolute;
  width: 284px;
  height: 48px;
  top: 532px;
}

footer .footerSectionDetails {
  height: 100%;
  width: 100%;
  margin: auto;
}

.textFooter p {
  left: 0px;
}

.copyright p {
  left: 0px;
}/*# sourceMappingURL=checkoutForm.css.map */