$first-c:#D87D4A;
$second-c:#101010;
$third-c:#F1F1F1;
$fourth-c:#FAFAFA;
$fifth-c:#FBAF85;
$sixth-c:#FFFFFF;
$seventh-c:#000000;
$eight-c: #CFCFCF;
$ninth-c: #979797;
$tenth-c: #CD2C2C;
$eleventh-c: #101010;
